################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kata-RefactoringUglyTrivia/Trivia/bin/Debug
